BackEndService/Connected Services/ServiceCustomers/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CusServ" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceCustomers.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICusServ_addCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:addCustomer" />
  </wsdl:message>
  <wsdl:message name="ICusServ_addCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICusServ_removeCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:removeCustomer" />
  </wsdl:message>
  <wsdl:message name="ICusServ_removeCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICusServ_getCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomer" />
  </wsdl:message>
  <wsdl:message name="ICusServ_getCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICusServ_editCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:editCustomer" />
  </wsdl:message>
  <wsdl:message name="ICusServ_editCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:editCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICusServ_GenerateSeedData_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateSeedData" />
  </wsdl:message>
  <wsdl:message name="ICusServ_GenerateSeedData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateSeedDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ICusServ">
    <wsdl:operation name="addCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICusServ/addCustomer" message="tns:ICusServ_addCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICusServ/addCustomerResponse" message="tns:ICusServ_addCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICusServ/removeCustomer" message="tns:ICusServ_removeCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICusServ/removeCustomerResponse" message="tns:ICusServ_removeCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICusServ/getCustomer" message="tns:ICusServ_getCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICusServ/getCustomerResponse" message="tns:ICusServ_getCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICusServ/editCustomer" message="tns:ICusServ_editCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICusServ/editCustomerResponse" message="tns:ICusServ_editCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateSeedData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICusServ/GenerateSeedData" message="tns:ICusServ_GenerateSeedData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICusServ/GenerateSeedDataResponse" message="tns:ICusServ_GenerateSeedData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICusServ" type="tns:ICusServ">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addCustomer">
      <soap:operation soapAction="http://tempuri.org/ICusServ/addCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeCustomer">
      <soap:operation soapAction="http://tempuri.org/ICusServ/removeCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomer">
      <soap:operation soapAction="http://tempuri.org/ICusServ/getCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCustomer">
      <soap:operation soapAction="http://tempuri.org/ICusServ/editCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSeedData">
      <soap:operation soapAction="http://tempuri.org/ICusServ/GenerateSeedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CusServ">
    <wsdl:port name="BasicHttpBinding_ICusServ" binding="tns:BasicHttpBinding_ICusServ">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceCustomers/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>