BackEndService/Connected Services/ServiceCustomers/ServiceCustomers.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceCustomers.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceCustomers.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Creditnumber" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amount" type="xs:double" />
      <xs:element minOccurs="0" name="dueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="template" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDC" nillable="true" type="tns:CustomerDC" />
</xs:schema>