BackEndService/Connected Services/ServiceCustomers/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiceCustomers.DataContracts" />
  <xs:element name="addCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dueDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="amount" type="xs:long" />
        <xs:element minOccurs="0" name="Creditnumber" type="xs:int" />
        <xs:element minOccurs="0" name="phonenbr" type="xs:int" />
        <xs:element minOccurs="0" name="template" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceCustomers.DataContracts" minOccurs="0" name="addCustomerResult" nillable="true" type="q1:CustomerDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Creditnumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Creditnumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceCustomers.DataContracts" minOccurs="0" name="getCustomerResult" nillable="true" type="q2:CustomerDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Creditnumber" type="xs:int" />
        <xs:element minOccurs="0" name="template" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceCustomers.DataContracts" minOccurs="0" name="editCustomerResult" nillable="true" type="q3:CustomerDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSeedData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSeedDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>