BackEndService/Connected Services/TemplateService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="TemplateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TemplateService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITemplateService_addTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:addTemplate" />
  </wsdl:message>
  <wsdl:message name="ITemplateService_addTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:addTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateService_removeTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:removeTemplate" />
  </wsdl:message>
  <wsdl:message name="ITemplateService_removeTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateService_getTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:getTemplate" />
  </wsdl:message>
  <wsdl:message name="ITemplateService_getTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateService_GenerateSeedData_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateSeedData" />
  </wsdl:message>
  <wsdl:message name="ITemplateService_GenerateSeedData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateSeedDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ITemplateService">
    <wsdl:operation name="addTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateService/addTemplate" message="tns:ITemplateService_addTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateService/addTemplateResponse" message="tns:ITemplateService_addTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateService/removeTemplate" message="tns:ITemplateService_removeTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateService/removeTemplateResponse" message="tns:ITemplateService_removeTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateService/getTemplate" message="tns:ITemplateService_getTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateService/getTemplateResponse" message="tns:ITemplateService_getTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateSeedData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateService/GenerateSeedData" message="tns:ITemplateService_GenerateSeedData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateService/GenerateSeedDataResponse" message="tns:ITemplateService_GenerateSeedData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITemplateService" type="tns:ITemplateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addTemplate">
      <soap:operation soapAction="http://tempuri.org/ITemplateService/addTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeTemplate">
      <soap:operation soapAction="http://tempuri.org/ITemplateService/removeTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTemplate">
      <soap:operation soapAction="http://tempuri.org/ITemplateService/getTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSeedData">
      <soap:operation soapAction="http://tempuri.org/ITemplateService/GenerateSeedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TemplateService">
    <wsdl:port name="BasicHttpBinding_ITemplateService" binding="tns:BasicHttpBinding_ITemplateService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/TemplateService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>